In [1]:
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dados = pd.read_csv("heart_failure_clinical_records_dataset.csv")
dados

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [14]:
dados["anaemia"] = dados.anaemia.astype('category')
dados.anaemia.cat.categories = ["no", "yes"]

dados["diabetes"] = dados.anaemia.astype('category')
dados.diabetes.cat.categories = ["no", "yes"]

dados["high_blood_pressure"] = dados.anaemia.astype('category')
dados.high_blood_pressure.cat.categories = ["no", "yes"]

dados["smoking"] = dados.anaemia.astype('category')
dados.smoking.cat.categories = ["no", "yes"]

dados["DEATH_EVENT"] = dados.anaemia.astype('category')
dados.DEATH_EVENT.cat.categories = ["no", "yes"]

dados["sex"] = dados.anaemia.astype('category')
dados.sex.cat.categories = ["women", "man"]

In [15]:
dados

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,no,582,no,20,no,265000.00,1.9,130,women,no,4,no
1,55.0,no,7861,no,38,no,263358.03,1.1,136,women,no,6,no
2,65.0,no,146,no,20,no,162000.00,1.3,129,women,no,7,no
3,50.0,yes,111,yes,20,yes,210000.00,1.9,137,man,yes,7,yes
4,65.0,yes,160,yes,20,yes,327000.00,2.7,116,man,yes,8,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,no,61,no,38,no,155000.00,1.1,143,women,no,270,no
295,55.0,no,1820,no,38,no,270000.00,1.2,139,women,no,271,no
296,45.0,no,2060,no,60,no,742000.00,0.8,138,women,no,278,no
297,45.0,no,2413,no,38,no,140000.00,1.4,140,women,no,280,no
298,50.0,no,196,no,45,no,395000.00,1.6,136,women,no,285,no